:root {
  color-scheme: light dark;
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
  }
}

#root {
  text-align: center;
}

h1,
h2 {
  font-weight: 500;
  color: var(--text-h);
}
